.checkbox-group-grass {
    min-height: 24px;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
}

.checkbox-group-grass label{
    padding-left: 20px;
    color: #666666;
    font-weight: 400;
}

.checkbox-group-grass input[type="checkbox"] + label:before {
    background: #fff url(../img/checkbox_green.png);
    content: " ";
    height: 22px;
    left: 0;
    position: absolute;
    width: 22px;
}

.checkbox-group-grass input[type="checkbox"] {
    box-sizing: border-box;
    margin-top: 6px;
    margin-right: 12px;
    margin-left: -2px;
    position: absolute;
}
.checkbox-group-grass input[type="checkbox"]:focus + label:before,
.checkbox-group-grass input[type="checkbox"] + label:hover:before {
    background-position: -24px 0;
}

.checkbox-group-grass input[type="checkbox"]:checked + label:before {
    background-position: -48px 0;
}

.checkbox-group-grass input[type="checkbox"][disabled] + label:before {
    background-position: -72px 0;
}

.checkbox-group-grass input[type="checkbox"][disabled]:checked + label:before {
    background-position: -96px 0;
}
/* checkbox-group-grass end */

/* radio-group-grass start */
.radio-group-grass {
    min-height: 24px;
    padding-top: 6px;
    padding-left: 8px;
    padding-right: 20px;
    position: relative;
    display: inline-block;
}

.radio-group-grass label{
    padding-left: 20px;
    color: #666666;
    font-weight: 400;
    margin-bottom: 0px;
}
.radio-group-grass input[type="radio"] + label:before {
    background: #fff url(../img/radiobox_green.png);
    content: " ";
    height: 22px;
    left: 0;
    position: absolute;
    width: 22px;
}

.radio-group-grass input[type="radio"] {
    box-sizing: border-box;
    margin-top: 6px;
    margin-right: 12px;
    margin-left: -2px;
    position: absolute;
}
.radio-group-grass input[type="radio"]:focus + label:before,
.radio-group-grass input[type="radio"] + label:hover:before {
    background-position: -24px 0;
}

.radio-group-grass input[type="radio"]:checked + label:before {
    background-position: -48px 0;
}

.radio-group-grass input[type="radio"][disabled] + label:before {
    background-position: -72px 0;
}

.radio-group-grass input[type="radio"][disabled]:checked + label:before {
    background-position: -96px 0;
}
